# Compiled class file
*.class

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
replay_pid*
/JavaApplication6/nbproject/private/
/BoletimEstudantil/nbproject/private/
/BoletimEstudantil/build/
/tipo-variaveis/nbproject/private/
/'ExemplosMétodos/nbproject/private/
/'ExemplosMétodos/build/
/JavaTerminal/nbproject/private/
/JavaTerminal/dist/
/JavaDoc/nbproject/private/
/teste/nbproject/private/
/ExercicoVariado/ExercicioClaudio/nbproject/private/
/ExercicoVariado/Trabalho/Trabalho/build/
/ExercicoVariado/Trabalho/Trabalho/nbproject/private/
/ExercicoVariado/Trabalho/ExercicioClaudio/build/
/ExercicoVariado/Trabalho/ExercicioClaudio/nbproject/private/
/ExercicoVariado/ExercicioClaudio/build/
/ExercicoVariado/teste_java_17/target/
